<script id="dsq-count-scr" src="//jojozhuang.disqus.com/count.js" defer></script>
<script src="//platform-api.sharethis.com/js/sharethis.js#property=5b595ccbf5aa6d001130cf95&product=sticky-share-buttons" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!--
link href="/assets/css/navbar.css" rel="stylesheet" />
<link href="/assets/css/main.css" rel='stylesheet' />
<link href="/assets/css/highlight.css" rel="stylesheet" />
{% if page.key == "favorite" %}
  <link href="/assets/css/favorite.css" rel='stylesheet' />
{% endif %}
{% if page.tutorial == "list" %}
  <link href="/assets/css/tutoriallist.css" rel='stylesheet' />
{% endif %}
{% if page.note == "list" %}
  <link href="/assets/css/tutoriallist.css" rel='stylesheet' />
{% endif %}
{% if page.blog == "list" %}
  <link href="/assets/css/bloglist.css" rel='stylesheet' />
{% endif %}
{% if page.key == "library" %}
  <link href="/assets/css/library.css" rel='stylesheet' />
{% endif %}
{% if page.key == "cv" %}
  <link href="/assets/css/cv.css" rel='stylesheet' />
{% endif %}
-->
{% if page.key == "tutorial" or page.key == "popular" or page.key == "note" %}
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>-->
  <!--<link href="/assets/css/sidebar.css" rel='stylesheet' />-->
  <script src="/assets/js/sidebar.js"></script>
{% endif %}
{% if page.key == "favorite" %}
  <script src="/assets/js/favorite.js"></script>
{% endif %}
{% if page.layout == "tutorial" or page.layout == "portfolio" or page.layout == "blog" or page.layout == "note"%}
  <script src="/assets/js/img.js"></script>
{% endif %}
{% if page.mathjax %}
  {% include mathjax.html %}
{% endif %}
{% if page.mermaid %}
  {% include mermaid.html %}
{% endif %}
<!-- move to here, script should be inside head, otherwise doesn't work for ie -->
{% include google_analytics.html %}
